# macOS
.DS_Store

# Swift Package Manager
.build/
.build
.swiftpm/
.swiftpm/xcode/
/build/
/Packages/

# Xcode / IDEs
/*.xcodeproj
/*.xcworkspace
DerivedData/
xcuserdata/
.idea/
.vscode/

# Gemini specific
GEMINI.md
